@page
@model DR4AT.Pages.CidadeDestinos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CidadeDestino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="CidadeDestino.Nome" class="control-label"></label>
                <input asp-for="CidadeDestino.Nome" class="form-control" />
                <span asp-validation-for="CidadeDestino.Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CidadeDestino.Pais" class="control-label"></label>
                <input asp-for="CidadeDestino.Pais" class="form-control" />
                <span asp-validation-for="CidadeDestino.Pais" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
