@page
@model DR4AT.Pages.PacotesTuristicos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PacoteTuristico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PacoteTuristico.Id" />
            <div class="form-group">
                <label asp-for="PacoteTuristico.Titulo" class="control-label"></label>
                <input asp-for="PacoteTuristico.Titulo" class="form-control" />
                <span asp-validation-for="PacoteTuristico.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacoteTuristico.DataInicio" class="control-label"></label>
                <input asp-for="PacoteTuristico.DataInicio" class="form-control" />
                <span asp-validation-for="PacoteTuristico.DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacoteTuristico.CapacidadeMaxima" class="control-label"></label>
                <input asp-for="PacoteTuristico.CapacidadeMaxima" class="form-control" />
                <span asp-validation-for="PacoteTuristico.CapacidadeMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacoteTuristico.Preco" class="control-label"></label>
                <input asp-for="PacoteTuristico.Preco" class="form-control" />
                <span asp-validation-for="PacoteTuristico.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SelectedCidadeIds">Cidades de Destino</label>
                <select asp-for="SelectedCidadeIds" asp-items="Model.CidadesDestinos" multiple class="form-control"></select>
                <span asp-validation-for="SelectedCidadeIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
