@page
@model DR4AT.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Teste para o basico</h2>
<p>
    <a asp-page="/Testes/ViewNotes">Ver Anotações</a><br />
    <a asp-page="/Testes/LogReserva">LogReserva</a><br />
    <a asp-page="/Testes/CalculoReserva">CalculoReserva</a><br />
    <a asp-page="/Testes/TesteCapacidade">TesteCapacidade</a><br />
    <a asp-page="/Testes/Desconto">Desconto</a><br />
    <a asp-page="/Testes/CreateCidadeDestino">CreateCidadeDestino</a><br />
</p>

<h2>Teste para os bancos de dados e afins</h2>
<p>
    <a asp-page="/CidadeDestinos/Index">Aba das cidades Destino</a><br />
    <a asp-page="/Clientes/Index">Aba Clientes</a><br />
    <a asp-page="/PacotesTuristicos/Index">Aba Pacoste Turisticos</a><br />
    <a asp-page="/Reservas/Index">Aba Reservas</a><br />
</p>

